<main class="content">
  <form>
    <div class="container-fluid p-0">
      <div class="mb-3 wrapper">
        <h1 class="h3 d-inline align-middle text-white">GUIA</h1>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <!--GUIA-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Guia</h2>
            </div>
            <div class="card-body d-flex flex-column gap-3">
              <div class="d-flex flex-row gap-3">
                <select class="form-select">
                  <option selected disabled>Tipo Comprobante</option>
                  <option>Comprobante 1</option>
                  <option>Comprobante 2</option>
                </select>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Peso Bruto Total"
                />

                <select class="form-select">
                  <option selected disabled>Unidad Medida</option>
                  <option>Unidad Medida 1</option>
                  <option>Unidad Medida 2</option>
                </select>

                <select class="form-select">
                  <option selected disabled>Destino Cliente</option>
                  <option>Destino Cliente 1</option>
                  <option>Destino Cliente 2</option>
                </select>

                <select class="form-select">
                  <option selected disabled>
                    Placa Vehículo Transportista
                  </option>
                  <option>Destino Cliente 1</option>
                  <option>Destino Cliente 2</option>
                </select>
              </div>
              <div class="d-flex flex-row gap-3">
                <select class="form-select">
                  <option selected disabled>Punto Partida (Ubigeo)</option>
                  <option>Punto Partida (Ubigeo) 1</option>
                  <option>Punto Partida (Ubigeo) 2</option>
                </select>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Punto de Partida (Dirección)"
                />

                <input
                  type="text"
                  class="form-control"
                  placeholder="Establecimiento Sunat"
                />

                <select class="form-select">
                  <option selected disabled>Punto Llegada (Ubigeo)</option>
                  <option>Punto Llegada (Ubigeo) 1</option>
                  <option>Punto Llegada (Ubigeo) 2</option>
                </select>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Punto de Llegada (Dirección)"
                />

                <input
                  type="text"
                  class="form-control"
                  placeholder="Establecimiento Sunat"
                />
              </div>
              <div class="d-flex flex-row gap-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Observaciones"
                />

                <input type="text" class="form-control" placeholder="Formato" />
              </div>
              <label class="form-check">
                <input class="form-check-input" type="checkbox" value="" />
                <span class="form-check-label">
                  Enviar Automáticamente Cliente
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <!--VEHICULO-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Datos Vehiculo</h2>
            </div>
            <div class="card-body d-flex flex-row gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Vehiculo</option>
                <option>Vehiculo 1</option>
                <option>Vehiculo 2</option>
              </select>
              <input type="text" class="form-control" placeholder="Placa" />
              <input type="text" class="form-control" placeholder="Marca" />
              <input type="text" class="form-control" placeholder="Modelo" />
              <input type="text" class="form-control" placeholder="Año" />
              <input type="text" class="form-control" placeholder="Color" />
            </div>
          </div>
          <!--TRANSPORTISTA-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Datos Transportista</h2>
            </div>
            <div class="card-body d-flex flex-column gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Documento</option>
                <option>DNI</option>
                <option>RUC</option>
              </select>

              <input
                type="text"
                class="form-control"
                placeholder="Número Documento"
              />
              <input
                type="text"
                class="form-control"
                placeholder="Nombre Completo"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <!--CONDUCTOR   / TRANSPORTE PRIVADO-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Datos Conductor</h2>
            </div>
            <div class="card-body d-flex flex-row gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Documento</option>
                <option>DNI</option>
                <option>RUC</option>
              </select>

              <input
                type="text"
                class="form-control"
                placeholder="Número Documento"
              />

              <input
                type="text"
                class="form-control"
                placeholder="Razon Social / Nombre Completo"
                disabled
              />

              <input type="text" class="form-control" placeholder="Licencia" />

              <select class="form-select">
                <option selected disabled>Tipo Guia</option>
                <option>Guia 1</option>
                <option>Guia 2</option>
              </select>
            </div>
          </div>
          <!--DESTINATARIO-->

          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Datos Destinatario</h2>
            </div>
            <div class="card-body d-flex flex-column gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Documento</option>
                <option>DNI</option>
                <option>RUC</option>
              </select>

              <input
                type="text"
                class="form-control"
                placeholder="Número Documento"
              />
              <input
                type="text"
                class="form-control"
                placeholder="Nombre Completo"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-2">
          <!--GUIA TRANSPORTISTA-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Guia Transportista</h2>
            </div>
            <div class="card-body">
              <input
                type="text"
                class="form-control"
                placeholder="TUC Vehículo Principal"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-10">
          <!--GUIA REMITENTE-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Guia Remitente</h2>
            </div>
            <div class="card-body d-flex flex-row gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Transporte</option>
                <option>TRANSPORTE PÚBLICO</option>
                <option>TRANSPORTE PRIVADO</option>
              </select>

              <select class="form-select">
                <option selected disabled>Motivo Translado</option>
                <option>Motivo 1</option>
                <option>Motivo 2</option>
              </select>

              <input
                type="text"
                class="form-control"
                placeholder="Otro Motivo Translado"
              />

              <select class="form-select">
                <option selected disabled>Transportista</option>
                <option>Transportista 1</option>
                <option>Transportista 2</option>
              </select>

              <input
                type="number"
                class="form-control"
                placeholder="Número de Bultos"
              />

              <select class="form-select">
                <option selected disabled>Datos Generales de la Guía</option>
                <option>Generales de la Guía 1</option>
                <option>Generales de la Guía 2</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
