<h2 mat-dialog-title>GUIA</h2>
<mat-dialog-content class="mat-typography">
  <main class="content">
    <div class="container-fluid">
      <div class="row">
        <form>
          <div class="col-12 col-lg-12">
            <!--GUIA-->
            <div class="card">
              <div class="card-header">
                <h2 class="card-title mb-0">Guia</h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <select class="form-select mb-3">
                      <option selected disabled>Tipo Comprobante</option>
                      <option>Comprobante 1</option>
                      <option>Comprobante 2</option>
                    </select>

                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Peso Bruto Total"
                    />

                    <select class="form-select mb-3">
                      <option selected disabled>Unidad Medida</option>
                      <option>Unidad Medida 1</option>
                      <option>Unidad Medida 2</option>
                    </select>

                    <select class="form-select mb-3">
                      <option selected disabled>Destino Cliente</option>
                      <option>Destino Cliente 1</option>
                      <option>Destino Cliente 2</option>
                    </select>

                    <select class="form-select mb-3">
                      <option selected disabled>
                        Placa Vehículo Transportista
                      </option>
                      <option>Placa Vehículo 1</option>
                      <option>Placa Vehículo 2</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <select class="form-select mb-3">
                      <option selected disabled>Punto Partida (Ubigeo)</option>
                      <option>Punto Partida (Ubigeo) 1</option>
                      <option>Punto Partida (Ubigeo) 2</option>
                    </select>

                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Punto de Partida (Dirección)"
                    />

                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Establecimiento Sunat"
                    />

                    <select class="form-select mb-3">
                      <option selected disabled>Punto Llegada (Ubigeo)</option>
                      <option>Punto Llegada (Ubigeo) 1</option>
                      <option>Punto Llegada (Ubigeo) 2</option>
                    </select>

                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Punto de Llegada (Dirección)"
                    />

                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Establecimiento Sunat"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Observaciones"
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Formato"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      <span class="form-check-label">
                        Enviar Automáticamente Cliente
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <!--DATOS VEHICULO-->
          <form>
            <div class="card">
              <div class="card-header">
                <h2 class="card-title mb-0">Datos Vehiculo</h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-md-6">
                        <select class="form-select mb-3">
                          <option selected disabled>Tipo Vehiculo</option>
                          <option>Vehiculo 1</option>
                          <option>Vehiculo 2</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control mb-3"
                          placeholder="Placa"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control mb-3"
                          placeholder="Marca"
                        />
                      </div>
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control mb-3"
                          placeholder="Modelo"
                        />
                      </div>
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control mb-3"
                          placeholder="Año"
                        />
                      </div>
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control mb-3"
                          placeholder="Color"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!--DATOS TRANSPORTISTA-->

          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Datos Transportista</h2>
            </div>
            <form [formGroup]="FormDatosTransportista">
              <div class="card-body d-flex flex-column gap-3">
                <select class="form-select">
                  <option selected disabled>Tipo Documento</option>
                  <option>DNI</option>
                  <option>RUC</option>
                </select>
                <label class="d-flex">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Número Documento"
                    formControlName="numero_documento"
                  />
                  <button (click)="consultarDNI()">
                    <mat-icon>person_search</mat-icon>
                  </button>
                </label>
                <span
                  [hidden]="
                    FormDatosTransportista_numero_documento.valid ||
                    FormDatosTransportista_numero_documento.pristine
                  "
                  class="alert alert-danger mt-2"
                  >Este campo es obligatorio</span
                >
                <input
                  type="text"
                  class="form-control"
                  disabled
                  value=" {{ !FullName ? 'Nombre Completo' : FullName }} "
                />

                <span class="alert alert-danger mt-2"
                  >El número de documento no existe</span
                >
              </div>
            </form>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <!--DATOS CONDUCTOR -->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Datos Conductor</h2>
            </div>
            <div class="card-body d-flex flex-row gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Documento</option>
                <option>DNI</option>
                <option>RUC</option>
              </select>

              <input
                type="number"
                class="form-control"
                placeholder="Número Documento"
              />

              <input
                type="text"
                class="form-control"
                placeholder="Razon Social / Nombre Completo"
                disabled
              />

              <input type="text" class="form-control" placeholder="Licencia" />

              <select class="form-select">
                <option selected disabled>Tipo Guia</option>
                <option>Guia 1</option>
                <option>Guia 2</option>
              </select>
            </div>
          </div>
          <!--DATOS DESTINATARIO-->

          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Datos Destinatario</h2>
            </div>
            <div class="card-body d-flex flex-column gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Documento</option>
                <option>DNI</option>
                <option>RUC</option>
              </select>

              <input
                type="number"
                class="form-control"
                placeholder="Número Documento"
                formControlName="numero_documento"
              />

              <input
                type="text"
                class="form-control"
                placeholder="Nombre Completo"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-2">
          <!--GUIA TRANSPORTISTA-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Guia Transportista</h2>
            </div>
            <div class="card-body">
              <input
                type="text"
                class="form-control"
                placeholder="TUC Vehículo Principal"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-10">
          <!--GUIA REMITENTE-->
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-0">Guia Remitente</h2>
            </div>
            <div class="card-body d-flex flex-row gap-3">
              <select class="form-select">
                <option selected disabled>Tipo Transporte</option>
                <option>TRANSPORTE PÚBLICO</option>
                <option>TRANSPORTE PRIVADO</option>
              </select>

              <select class="form-select">
                <option selected disabled>Motivo Translado</option>
                <option>Motivo 1</option>
                <option>Motivo 2</option>
              </select>

              <input
                type="text"
                class="form-control"
                placeholder="Otro Motivo Translado"
              />

              <select class="form-select">
                <option selected disabled>Transportista</option>
                <option>Transportista 1</option>
                <option>Transportista 2</option>
              </select>

              <input
                type="number"
                class="form-control"
                placeholder="Número de Bultos"
              />

              <select class="form-select">
                <option selected disabled>Datos Generales de la Guía</option>
                <option>Generales de la Guía 1</option>
                <option>Generales de la Guía 2</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</mat-dialog-content>
<mat-dialog-actions align="end" class="d-flex gap-3">
  <button type="button" mat-button mat-dialog-close class="btn btn-danger fs-4">
    Cancel
  </button>
  <button
    type="button"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    class="btn btn-success fs-4"
    (click)="proces()"
  >
    Guardar
  </button>
</mat-dialog-actions>
